.bg-dropshadow {
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
}

@keyframes float {
	0% {
		filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
	}
	50% {
		filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.1));
	}
	100% {
		filter: Glow(Color=#00FF00, Strength=20) ;
	}
}
.grad:before,
.grad:after {
  content: '';
  border-radius: 5px;
  position: absolute;
  /* z-index: -10; */
  border: 0 solid;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: -0.125rem;
  background-image: linear-gradient(268.91deg, #fb3 14.72%, #fff 51.94%, #e300bd 82.34%, #ff006a 94.81%);
}